---
const code = Astro.url.searchParams.get("code");
---
<html lang="fr">
  <head>
    <title>Authentification Twitch</title>
  </head>
  <body>
    <div id="auth"></div>
    <script type="module">
      import { handleAuth } from "../scripts/handleAuth.js";
      handleAuth("{{code}}");
    </script>
  </body>
</html>
